*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	list-style:none;
	font-family: "roboto", "sans-serif";
	text-decoration:none;
}
.nav{
	height:100px;
	background:grey;
	padding:1px;
}
.nav h1{
	color:white;
	margin-top:22px;
	font-size:20px;
	margin-left:16%;
}
.nav ul {
	float:left;
	margin-left:55%;
	font-size:15px;
	text-transform:capitalize;
	font-weight:normal;
	margin-top:-17px;
	
}
.nav ul li{
	float:left;
	margin-right:45px;
	font-size:15px;
	text-transform:capitalize;
	font-weight:normal;
}
.nav ul li a{
	color:white;
}

.nav ul li a:hover{
	color:orange;
}
.c1{
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("background-01.jpg");
	height:80vh;
	width:100%;
	padding:1px;
}
.c1 h2{
	margin-left:16%;
	margin-top:50px;
	color:white;
	font-size:20px;
}
.c1 h1{
	margin-left:16%;
	margin-top:20px;
	
	color:white;
}
.c1 h3{
	margin-left:16%;
	margin-top:50px;
	color:white;
	font-size:10px;
}
.btn1{
		margin-left:16%;
		margin-top:50px;
		height:30px;
		width:7%;
		background-color:orange;
color:white;
border:none;
	}
	.btn1:hover{
		background-color:transparent;
	}
	.btn2{
		margin-left:2%;
		margin-top:50px;
		height:30px;
		width:7%;
		background-color:transparent;
		color:white;
	}
	.btn2:hover{
		background-color:orange;
	}
	.c2{
		height:700px;
		width:100%;
		background-color:#252525;
		padding:1px;
	}
	.c2 h1{
		color:white;
		text-align:center;
		font-size:25px;
		margin-top:80px;
	}
	.c2 h2{
		color:white;
		text-align:center;
		font-size:15px;
		margin-top:20px;
	}
	.c3 {
		height:200px;
		width:26%;
		float:left;
		margin-top:50px;
		margin-left:5%;
	}
	.i1 img{
		border:1px solid orange;
	}
	.c3 h4 {
		font-size:20px;
		color:white;
		margin-left:20%;
		margin-top:-50px;
		
	}
	.c3 p{
		color:white;
		text-align:center;
margin-top:30px;
	}
	.c3 h5{
		color:orange;
		font-size:13px;
		margin-left:90px;
		margin-top:20px;
	}
	.c4{
		height:200px;
		width:26%;
		float:left;
		margin-top:50px;
		margin-left:5%;
	}
	.i2 img{
	border:1px solid orange;
	}
	.c4 h4 {
		font-size:20px;
		color:white;
		margin-left:20%;
		margin-top:-50px;
		
	}
	.c4 p{
		color:white;
		text-align:center;
margin-top:30px;
	}
	.c4 h5{
		color:orange;
		font-size:13px;
		margin-left:90px;
		margin-top:20px;
	}
	.c5{
	width:100%;
	height:700px;
	}
	.c5 h1{
		
		text-align:center;
		margin-top:50px;
		color:grey;
	}
	.c5 p{
		text-align:center;
		margin-top:50px;
		color:silver;
	}
	.c6{
		height:200px;
		width:38%;
		margin-top:50px;
		margin-left:8%;
		float:left;
		float:buttom;
		
	}
	.i6 img{
		height:32vh;
	}
	.c6 h6{
		font-size:15px;
		margin-left:56%;
		margin-top:-200px;
		color:grey;
		
	}
	.c6 p{
		margin-left:50%;
		color:silver
	}
	.c6 h2{
		margin-left:55%;
		color:red;
		margin-top:20px;
		font-size:14px;
	}
	.c7 {
		background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("background-02.jpg");
	height:80vh;
	width:100%;
	padding:1px;
	}
	.c7 h1{
		text-align:center;
		color:white;
		margin-top:30px;
		font-size:20px;
	}
	.c7 p{
		text-align:center;
		color:white;
		font-size:13px;
		margin-top:10px;
	}
	.c8{
		width:17%;
		height:330px;

		margin-top:70px;
		margin-left:6%;
		float:left;
		
	}
	.i8 img{
		width:100%;
		height:170px;
	}
	.c8 h2{
		text-align:center;
		color:white;
		font-size:15px;
		margin-top:20px;
	}
	.btn8 {
		background-color:orangered;
		margin-left:25%;
		margin-top:20px;
		color:white;
		border:none;
		height:4vh;
		width:40%;
	}
	.c9 {
		width:100%;
		height:700px;
		background-color:#252525;
		padding:1px;
	}
	.c10 {
		height:350px;
		width:23%;
		margin-top:70px;
		margin-left:10%;
		float:left;
	}
	.c10 h1{
		color:silver;
		text-align:center;
		font-size:25px;
	}
	.c10 p{
		color:silver;
		margin-top:50px;
	}
	.c11 {
	color:white;
	margin-top:50px;
	margin-left:5%;
	width:8%;
	height:25px;
	background:orangered;
	font-size:20px;
	text-align:center;
	float:left;
	}
	.c12{
			height:350px;
		width:23%;
		margin-top:70px;
		margin-left:5%;
		float:left;
	}
	.c12 h1{
		color:silver;
		text-align:center;
		font-size:22px;
	}
	.i12{
		color:silver;
		font-size:18px;
		margin-top:50px;
	}
	.c12 p{
		color:silver;
		margin-left:10%;
		margin-top:-23px;
	}
	.c14 {
		width:90%;
		height:1px;
		background:grey;
		margin-top:20px;
	}
	.i13 {
		color:silver;
		font-size:18px;
		margin-top:30px;
		
	}
	.i14{
		color:silver;
		font-size:18px;
		margin-top:30px;
	}
	.c15{
			height:350px;
		width:23%;
		margin-top:70px;
		margin-left:5%;
		float:left;
	}
	.c15 h1{
		color:silver;
		text-align:center;
		font-size:21px;
	}
	.c15 h2{
		color:orangered;
		margin-top:50px;
		font-size:20px;
	}
	.c15 p{
		color:silver;
	}
	.c15 h3{
		color:orangered;
		margin-top:50px;
	}
	.nav1 {
	
	width:100%;
	height:16vh;
	background-color:orangered;
	margin-top:500px;
	}
	.nav1 ul
{
	width:60%;
	position:relative;
left:6%;
top:25%;
	
}
.nav1 ul li
{
	float:left;
	margin-left:7%;
	font-size:22px;
}
.nav1 ul li a {
	color:white;
}
.c9 h4 {
	margin-top:20px;
color:silver;
margin-left:10%;
font-size:12px;
}
.c9 h5{
	margin-top:-15px;
	color:silver;
	margin-left:70%;
	font-size:12px;
}
